<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="LWT06">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <dependent-module archiveName="WebUtils-0.0.1-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/WebUtils/WebUtils">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="LWT06"/>
        <property name="java-output-path" value="/LWT06/build/classes"/>
    </wb-module>
</project-modules>
